@import url(../item-img.scss);

.item:hover, .item:active {
	cursor: pointer;
	border-radius: calc(0.25rem - 1px);
	box-shadow: 0 0 0 0.33rem var(--color-secondary-1-1);
}

.card {
	border: 0;

	.card-body {
		min-height: 150px;
		background-size: cover;
		background-position: center;
	}

	.card-footer {
		font-size: large;
	}
}
