.navbar {
	background-color: var(--color-secondary-1-0);
}

.navbar-nav .nav-link:not(.active) {
	color: var(--color-secondary-2-1);
}

.navbar-nav .nav-link:not(.active):hover,
.navbar-nav .nav-link.user:hover {
	text-decoration: underline;
}

.navbar-nav .nav-link {
	span, fa-icon {
		line-height: 40px;
		vertical-align: middle;
	}

	fa-icon {
		font-size: 30px;
		width: 35px;

		&.logout-icon {
			font-size: 20px;
		}
	}
}

.navbar-toggler {
	border-color: white;

	fa-icon {
		font-size: 21px;
		color: white;
	}
}

.normal-cursor, .normal-cursor:hover, .normal-cursor:active {
	cursor: default;
}
